@{
    ViewBag.Title = "Index";
}

<h2>Information about products.</h2>

<div id="loader">
    <h2>Loading data...</h2>
    <div class="load_spinner"></div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div id="data_products"> </div>
    </div>
    <div class="col-sm-5">
        @if (User.IsInRole("Admin"))
        {
            <button id="openCreateFormBtn" class="btn btn-primary">Add product</button>
        }
        <div id="dialog_form"></div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            load();
        });

        $("#openCreateFormBtn").click(() => {
            $("#dialog_form").load('@Url.Action("Create", "Product")');
        });

        openEditForm = function (id) {
            $("#dialog_form").load('@Url.Action("Edit", "Product")/' + id);
        }

        function deleteProduct(id) {
            $.ajax({
                url: '@Url.Action("Delete", "Product")/' + id,
                type: 'POST',
                success: function (result) {
                    if (result.result == true) {
                        load();
                    }
                    else {
                        alert("Нельзя удалить клиента!");
                    }
                }
            });
        }

        function load(data) {
            $("#loader").css('display', "display");
            $("#data_products").load('@Url.Action("Load", "Product")/?' + data,
                function () {
                    $("#loader").css('display', "none");
                }
            );
        }
    </script>
}