<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="inputFile" value="C:\Users\Yaroslav Puxalskii\Desktop\GItHub\DOT_NET\TextParser\TextParser\FileFolder\InputFile.txt"/>
      <add key="concordanceFile" value="C:\Users\Yaroslav Puxalskii\Desktop\GItHub\DOT_NET\TextParser\TextParser\FileFolder\ConcordanceFile.txt"/>
  </appSettings>
</configuration>