<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="forManager" value="C:\Users\Yaroslav Puxalskii\Desktop\repo\DOT_NET\Sales\Sales\LocalFolder\" />
    <add key="processing" value="C:\Users\Yaroslav Puxalskii\Desktop\repo\DOT_NET\Sales\Sales\Processing\" />
    <add key="processed" value="C:\Users\Yaroslav Puxalskii\Desktop\repo\DOT_NET\Sales\Sales\Processed\" />
  </appSettings>
</configuration>