@model WebSales.Models.Chart.SaleChartModel

<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<div class="modal fade" id="modalChart" tabindex="-1" role="dialog" aria-labelledby="nameModalOperation" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="nameModalOperation" class="modal-title">Top 3 selling products</h4>
            </div>
            <div class="modal-body">
                <div id="saleChart_container">
                    <canvas id="bar_chart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#modalChart").ready(() => {
        $("#modalChart").modal();
    });

    var counts = @Html.Raw(Json.Encode(Model.Count));
    var names = @Html.Raw(Json.Encode(Model.Name));

    var ctx = $("#bar_chart");
    var barChart = new Chart(ctx, {
        type: 'doughnut',
        labels: names,
        data: {
            labels: names,
            datasets: [{
                label: "Count",
                data: counts,
                backgroundColor: [
                    'rgb(255, 99, 132)',
                    'rgb(54, 162, 235)',
                    'rgb(255, 205, 86)'
                ],
                borderColor: "rgb(242,166,54)",
                borderWidth: 1
            }]
        },
        options: {
            cutoutPercentage: 80,
            animation: {
                animateScale: true
            }
        }
    });
</script>